<div class="header-top">
    <img class="logo" src="./img/recipe-book.png" alt="Icon of Recipe Book">
    <!-- <a href="https://www.flaticon.com/free-icons/recipe-book" title="recipe book icons">Recipe book icons created by nawicon - Flaticon</a> -->
    <!-- <a href="https://www.flaticon.com/free-icons/cook-book" title="cook book icons">Cook book icons created by nawicon - Flaticon</a> -->
    <h1>Recipe Tracker</h1>
  </div>
<nav class="main-nav">
<ul class="menu">
    <li><a class="menuItem" href="../index.html">Home</a></li>
    <li><a class="menuItem" href="../allrecipes.html">All Recipes</a></li>
    <li><a class="menuItem" href="../myrecipes.html">My Recipes</a></li>
    <li><a class="menuItem" href="../contact.html">Contact</a></li>
</ul>
<button class="hamburger">
  <!-- material icons https://material.io/resources/icons/ -->
  <i class="menuIcon material-icons">Menu</i>
  <i class="closeIcon material-icons">close</i>
</button>
<div>
  <a class="login-link" href="https://team-2-recipetracker.herokuapp.com/login">Login</a>
</div>
</nav>